body {
    background-color: bisque
  }
  
  h1, h2, h3, h4 {
    text-align: center;
    font-family: verdana;
  }
  
  p {
    text-align:center;
    font-family: verdana;
    font-size: 15px;
  }

  li {
    font-family:verdana;
    font-size:15px;
  }
