body {
    background-color: bisque
  }
  
  h1, h2, h3, h4 {
    text-align: center;
    font-family: verdana;
  }
  
  p {
    text-align:center;
    font-family: verdana;
    font-size: 15px;
  }

  li {
    font-family:verdana;
    font-size:15px;
  }

  body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navbar container */
  nav {
      background-color: #333; /* Dark background color */
      overflow: hidden; /* Clear floats */
      padding: 10px 0; /* Padding for height */
  }

  /* Links inside the navbar */
  nav a {
      color: white; /* Text color */
      text-decoration: none; /* Remove underline */
      padding: 14px 20px; /* Add space around the links */
      display: inline-block; /* Make links inline */
      transition: background-color 0.3s; /* Smooth hover effect */
  }

  /* Links hover effect */
  nav a:hover {
      background-color: #575757; /* Slightly lighter background on hover */
      color: #f1f1f1;
  }
 /* Gallery Section */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.gallery-item img:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
